@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body{
  height: 100%;
  background: #F4FAFA;
  margin: 0;
}

.absolute-max {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}

// workaround, see https://github.com/angular/material2/pull/6684
game .ai-select-container {
  .mat-select-trigger {
    min-width: inherit;
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer{
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
