<button class="settings-button" md-fab (click)="sidenav.toggle()">
  <md-icon class="md-24">settings</md-icon>
</button>
<md-sidenav-container class="sidenav-layout">
  <md-sidenav #sidenav mode="side">
    <div class="settings-container">
      <div class="config-section">
        <h3>Black:</h3>
          <div class="form-row">
            <md-radio-group [(ngModel)]="black.rawtype" (change)="onPlayerTypeChange($event, black)">
              <md-radio-button value="HUMAN">Human</md-radio-button>
              <md-radio-button value="AI">Computer</md-radio-button>
            </md-radio-group>
          </div>
          <div class="form-row">
            <label>AI Level:</label>
            <select (change)="onAILevelChange($event, black)">
              <option *ngFor="let i of aiLevels" [attr.value]="i"
                      [attr.selected]="black.aiIndex === i">{{i}}</option>
            </select>
          </div>
      </div>
      <div class="config-section">
        <h3>White:</h3>
          <div class="form-row">
            <md-radio-group [(ngModel)]="white.rawtype" (change)="onPlayerTypeChange($event, white)">
              <md-radio-button value="HUMAN">Human</md-radio-button>
              <md-radio-button value="AI">Computer</md-radio-button>
            </md-radio-group>
          </div>
          <div class="form-row">
            <label>AI Level:</label>
            <select (change)="onAILevelChange($event, white)">
              <option *ngFor="let i of aiLevels" [attr.value]="i"
                      [attr.selected]="white.aiIndex === i">{{i}}</option>
            </select>
          </div>
      </div>
      <div class="config-section">
        <button md-button color="primary" (click)="onNewGame()">New Game</button>
        <button md-button color="accent" (click)="onStop()" [disabled]="!board.ctrl.aiProcessing">Stop</button>
      </div>
    </div>
  </md-sidenav>
  <md-card class="board-container">
    <br>
    <chess-board class="svg-chess-board" #board></chess-board>
    <div class="game-toolbar">
      <button md-mini-fab (click)="ctrl.undo()" [disabled]="board.ctrl.aiProcessing || !isInit">
        <md-icon class="md-24">undo</md-icon>
      </button>
      <button md-mini-fab (click)="hint()" [disabled]="board.ctrl.aiProcessing || !isInit" *ngIf="board.ctrl.aiSupported">
        <md-icon class="md-24">remove_red_eye</md-icon>
      </button>
    </div>
  </md-card>
  <div>
    <p style="text-align: center; margin-top: 0" *ngIf="!workerSupported">Your broswer does not support web workers, expect UI lags while computer thinks</p>
  </div>
</md-sidenav-container>
